# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/target/classes/com/riteship/common/apis/dtos/TaskSeqDTO.class
/target/classes/archetype-resources/src/main/java/App.java
/target/classes/com/riteship/common/apis/entities/Apply.class
/target/classes/com/riteship/common/apis/dtos/ApplyDTO.class
/target/classes/archetype-resources/src/test/java/AppTest.java
/target/classes/META-INF/maven/archetype.xml
/target/classes/com/riteship/common/apis/entities/City.class
/target/classes/com/riteship/common/apis/dtos/CityDTO.class
/target/classes/com/riteship/common/apis/entities/College.class
/target/classes/com/riteship/common/apis/dtos/CollegeDTO.class
/target/classes/com/riteship/common/apis/entities/mongodb/CollegeMongoDBDocmentEntity.class
/target/common-java-files-and-APIs-1.0-SNAPSHOT.jar
/target/classes/com/riteship/common/apis/entities/Company.class
/target/classes/com/riteship/common/apis/dtos/CompanyDTO.class
/target/classes/com/riteship/common/apis/entities/Country.class
/target/classes/com/riteship/common/apis/dtos/CountryDTO.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/com/riteship/common/apis/entities/Department.class
/target/classes/com/riteship/common/apis/dtos/DepartmentDTO.class
/target/classes/com/riteship/common/apis/entities/Employee.class
/target/classes/com/riteship/common/apis/dtos/EmployeeDTO.class
/target/classes/com/riteship/common/apis/entities/Faq.class
/target/classes/com/riteship/common/apis/dtos/FaqDTO.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/com/riteship/common/apis/services/IRiteShipGeneralService.class
/target/classes/com/riteship/common/apis/entities/Job.class
/target/classes/com/riteship/common/apis/dtos/JobDTO.class
/target/classes/com/riteship/common/apis/entities/JobType.class
/target/classes/com/riteship/common/apis/dtos/JobTypeDTO.class
/target/classes/com/riteship/common/apis/entities/Login.class
/target/classes/com/riteship/common/apis/dtos/LoginDTO.class
/target/classes/com/riteship/common/apis/entities/Month.class
/target/classes/com/riteship/common/apis/dtos/MonthDTO.class
/target/maven-archiver/pom.properties
/target/classes/archetype-resources/pom.xml
/target/classes/com/riteship/common/apis/components/RiteShipDatabaseOperationsBean.class
/target/classes/com/riteship/common/apis/services/impls/RiteShipGeneralServiceImpl.class
/target/classes/com/riteship/common/apis/entities/Roles.class
/target/classes/com/riteship/common/apis/dtos/RolesDTO.class
/target/classes/com/riteship/common/apis/entities/Salutions.class
/target/classes/com/riteship/common/apis/dtos/SalutionsDTO.class
/target/classes/com/riteship/common/apis/entities/Skill.class
/target/classes/com/riteship/common/apis/dtos/SkillDTO.class
/target/classes/com/riteship/common/apis/entities/State.class
/target/classes/com/riteship/common/apis/dtos/StateDTO.class
/target/classes/com/riteship/common/apis/entities/Status.class
/target/classes/com/riteship/common/apis/dtos/StatusDTO.class
/target/classes/com/riteship/common/apis/entities/Student.class
/target/classes/com/riteship/common/apis/dtos/StudentDTO.class
/target/classes/com/riteship/common/apis/entities/TaskExecution.class
/target/classes/com/riteship/common/apis/dtos/TaskExecutionDTO.class
/target/classes/com/riteship/common/apis/entities/TaskExecutionParams.class
/target/classes/com/riteship/common/apis/dtos/TaskExecutionParamsDTO.class
/target/classes/com/riteship/common/apis/entities/TaskLock.class
/target/classes/com/riteship/common/apis/dtos/TaskLockDTO.class
/target/classes/com/riteship/common/apis/entities/TaskSeq.class
/target/classes/com/riteship/common/apis/entities/TaskTaskBatch.class
/target/classes/com/riteship/common/apis/dtos/TaskTaskBatchDTO.class
/target/classes/com/riteship/common/apis/entities/Type.class
/target/classes/com/riteship/common/apis/dtos/TypeDTO.class
